In [15]:
import pandas as pd
import numpy as np
from lockdowndates.core import LockdownDates
import utils

X, y = utils.get_train_data()

def generate_lockdown_dates(X):
    date_range = pd.date_range(start='2020-09-01', end='2021-09-09', freq='D')
    df = pd.DataFrame({'Date': date_range})
    lockdown_periods = [('2020-10-31', '2020-12-14'), ('2021-04-04', '2021-05-02')]
    for period_start, period_end in lockdown_periods:
        df.loc[(df['Date'] >= period_start) & (df['Date'] <= period_end), 'Lockdown'] = True

    df['Lockdown'] = df['Lockdown'].fillna(False)
    df = df.reset_index().rename(columns={'Date': 'date_merge'})
    X['date_merge'] = pd.to_datetime(X['date'].dt.strftime('%Y-%m-%d'), format='%Y-%m-%d')
    X_ldd = X.merge(df, how = 'left', on = 'date_merge')
    X_ldd = X_ldd.drop(['date_merge'], axis=1)
    
    return X_ldd


result_df = generate_lockdown_dates(X)

result_df

,counter_id,counter_name,site_id,site_name,date,counter_installation_date,coordinates,counter_technical_id,latitude,longitude,index,Lockdown
0,100049407-353255860,152 boulevard du Montparnasse E-O,100049407,152 boulevard du Montparnasse,2020-09-01 01:00:00,2018-12-07,"48.840801,2.333233",Y2H19070373,48.840801,2.333233,0,False
1,100049407-353255859,152 boulevard du Montparnasse O-E,100049407,152 boulevard du Montparnasse,2020-09-01 01:00:00,2018-12-07,"48.840801,2.333233",Y2H19070373,48.840801,2.333233,0,False
2,100036719-104036719,18 quai de l'Hôtel de Ville NO-SE,100036719,18 quai de l'Hôtel de Ville,2020-09-01 01:00:00,2017-07-12,"48.85372,2.35702",Y2H19027732,48.853720,2.357020,0,False
3,100036719-103036719,18 quai de l'Hôtel de Ville SE-NO,100036719,18 quai de l'Hôtel de Ville,2020-09-01 01:00:00,2017-07-12,"48.85372,2.35702",Y2H19027732,48.853720,2.357020,0,False
4,100063175-353277233,20 Avenue de Clichy NO-SE,100063175,20 Avenue de Clichy,2020-09-01 01:00:00,2020-07-22,"48.88529,2.32666",Y2H20073268,48.885290,2.326660,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
496822,100057329-103057329,Totem 85 quai d'Austerlitz SE-NO,100057329,Totem 85 quai d'Austerlitz,2021-09-09 23:00:00,2020-02-18,"48.84201,2.36729",YTH19111508,48.842010,2.367290,373,False
496823,100057380-104057380,Totem Cours la Reine E-O,100057380,Totem Cours la Reine,2021-09-09 23:00:00,2020-02-11,"48.86462,2.31444",YTH19111509,48.864620,2.314440,373,False
496824,100057380-103057380,Totem Cours la Reine O-E,100057380,Totem Cours la Reine,2021-09-09 23:00:00,2020-02-11,"48.86462,2.31444",YTH19111509,48.864620,2.314440,373,False
496825,100042374-110042374,Voie Georges Pompidou NE-SO,100042374,Voie Georges Pompidou,2021-09-09 23:00:00,2017-12-15,"48.8484,2.27586",Y2H21025335,48.848400,2.275860,373,False
496826,100042374-109042374,Voie Georges Pompidou SO-NE,100042374,Voie Georges Pompidou,2021-09-09 23:00:00,2017-12-15,"48.8484,2.27586",Y2H21025335,48.848400,2.275860,373,False