In [45]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import utils

In [46]:
data = pd.read_csv('data/X_preprocessed.csv').drop(columns = ['Unnamed: 0','index'])
X, y = utils.get_train_data()

In [47]:
data['rain']=data['icon_encoded'].map(lambda x: 1 if x == 1 else 0)
data['is_weekend']=data['weekday'].map(lambda x: 1 if x == 6 or x == 5 else 0)
data['y'] = pd.Series(y)

In [48]:
data.Lockdown.value_counts()

0    399289
1     97538
Name: Lockdown, dtype: int64

In [49]:
data.corr()

,latitude,longitude,temp,precip,windspeed,visibility,icon_encoded,Lockdown,year,month,day,weekday,hour,rain,is_weekend,y
latitude,1.000000,0.153856,-0.000135,-0.000719,-0.001263,0.001562,-0.001397,0.003557,-0.010524,0.007317,-0.000195,-0.000103,-0.000013,0.001377,-0.000025,0.113355
longitude,0.153856,1.000000,-0.001524,-0.001463,-0.001148,0.002333,-0.002680,0.003943,-0.013599,0.008068,0.001530,-0.000190,-0.000016,0.002859,0.000156,0.044494
temp,-0.000135,-0.001524,1.000000,0.000549,-0.216648,0.479963,0.266221,-0.285645,0.091820,0.281104,0.020703,-0.032766,0.000077,-0.183858,-0.047954,0.177268
precip,-0.000719,-0.001463,0.000549,1.000000,0.237911,-0.193907,-0.315201,-0.102803,-0.017203,0.013535,0.020541,0.023051,0.000282,0.323666,0.006300,-0.051204
windspeed,-0.001263,-0.001148,-0.216648,0.237911,1.000000,0.034919,-0.152363,-0.080370,0.060101,-0.143795,0.065917,0.073292,-0.000001,0.167203,0.033195,-0.070974
visibility,0.001562,0.002333,0.479963,-0.193907,0.034919,1.000000,0.179361,-0.111845,-0.065337,0.187449,-0.005557,0.029174,0.000380,-0.131571,0.004450,0.099384
icon_encoded,-0.001397,-0.002680,0.266221,-0.315201,-0.152363,0.179361,1.000000,-0.020108,0.161880,-0.072565,-0.011342,-0.022575,0.000149,-0.923565,-0.029865,0.081799
Lockdown,0.003557,0.003943,-0.285645,-0.102803,-0.080370,-0.111845,-0.020108,1.000000,-0.296894,0.266866,-0.060134,0.019124,-0.000178,0.013282,0.030341,-0.056620
year,-0.010524,-0.013599,0.091820,-0.017203,0.060101,-0.065337,0.161880,-0.296894,1.000000,-0.794083,-0.025513,0.005834,-0.000521,-0.162908,0.007397,-0.005915
month,0.007317,0.008068,0.281104,0.013535,-0.143795,0.187449,-0.072565,0.266866,-0.794083,1.000000,-0.006185,-0.013164,0.000289,0.098661,-0.014079,0.056814
day,-0.000195,0.001530,0.020703,0.020541,0.065917,-0.005557,-0.011342,-0.060134,-0.025513,-0.006185,1.000000,0.012631,-0.000057,0.036243,0.022498,-0.015934
weekday,-0.000103,-0.000190,-0.032766,0.023051,0.073292,0.029174,-0.022575,0.019124,0.005834,-0.013164,0.012631,1.000000,0.000074,0.011941,0.790371,-0.056230
hour,-0.000013,-0.000016,0.000077,0.000282,-0.000001,0.000380,0.000149,-0.000178,-0.000521,0.000289,-0.000057,0.000074,1.000000,-0.000154,0.000153,0.273085
rain,0.001377,0.002859,-0.183858,0.323666,0.167203,-0.131571,-0.923565,0.013282,-0.162908,0.098661,0.036243,0.011941,-0.000154,1.000000,0.033019,-0.069604
is_weekend,-0.000025,0.000156,-0.047954,0.006300,0.033195,0.004450,-0.029865,0.030341,0.007397,-0.014079,0.022498,0.790371,0.000153,0.033019,1.000000,-0.081998
y,0.113355,0.044494,0.177268,-0.051204,-0.070974,0.099384,0.081799,-0.056620,-0.005915,0.056814,-0.015934,-0.056230,0.273085,-0.069604,-0.081998,1.000000

# TEST COVID DATA - nul sa mère

In [64]:
cov = pd.read_csv('data/WHO-COVID-19-global-data.csv')
france = cov[cov['Country']=='France']
france.loc[:,'Date_reported'] = pd.to_datetime(france['Date_reported'], format='%Y-%m-%d')
cov.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [51]:
france[france['Date_reported']=='2020-05-09']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
103375,2020-05-09,FR,France,EURO,0,16,0,15564

In [52]:

X = X.merge(france[['Date_reported','Cumulative_deaths']], left_on='date', right_on='Date_reported')
X['y'] = pd.Series(y)
X.corr()

                    site_id  latitude  longitude  Cumulative_deaths         y
site_id            1.000000 -0.129796  -0.189172           0.084577 -0.000160
latitude          -0.129796  1.000000   0.153954          -0.010692  0.041949
longitude         -0.189172  0.153954   1.000000          -0.014419  0.008197
Cumulative_deaths  0.084577 -0.010692  -0.014419           1.000000  0.017272
y                 -0.000160  0.041949   0.008197           0.017272  1.000000

In [73]:
cov = pd.read_csv('data/WHO-COVID-19-global-data.csv')
france = cov[cov['Country']=='France']
france.loc[:,'Date_reported'] = pd.to_datetime(france['Date_reported'], format='%Y-%m-%d')
cov.head()



france['new_deaths'] = france['Cumulative_deaths'].diff()

france['new_deaths'].interpolate().interpolate(method='backfill', inplace=True)
france[france['Date_reported']>='2020-03-15'].head(30)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,new_deaths
103320,2020-03-15,FR,France,EURO,0,16,43,43,43.0
103321,2020-03-16,FR,France,EURO,0,16,0,43,0.0
103322,2020-03-17,FR,France,EURO,0,16,0,43,0.0
103323,2020-03-18,FR,France,EURO,0,16,0,43,0.0
103324,2020-03-19,FR,France,EURO,0,16,0,43,0.0
103325,2020-03-20,FR,France,EURO,0,16,0,43,0.0
103326,2020-03-21,FR,France,EURO,0,16,0,43,0.0
103327,2020-03-22,FR,France,EURO,0,16,670,713,670.0
103328,2020-03-23,FR,France,EURO,0,16,0,713,0.0
103329,2020-03-24,FR,France,EURO,0,16,0,713,0.0
103330,2020-03-25,FR,France,EURO,0,16,0,713,0.0
103331,2020-03-26,FR,France,EURO,0,16,0,713,0.0
103332,2020-03-27,FR,France,EURO,0,16,0,713,0.0
103333,2020-03-28,FR,France,EURO,0,16,0,713,0.0
103334,2020-03-29,FR,France,EURO,0,16,1999,2712,1999.0
103335,2020-03-30,FR,France,EURO,0,16,0,2712,0.0
103336,2020-03-31,FR,France,EURO,0,16,0,2712,0.0
103337,2020-04-01,FR,France,EURO,0,16,0,2712,0.0
103338,2020-04-02,FR,France,EURO,0,16,0,2712,0.0
103339,2020-04-03,FR,France,EURO,0,16,0,2712,0.0
103340,2020-04-04,FR,France,EURO,0,16,0,2712,0.0
103341,2020-04-05,FR,France,EURO,0,16,3276,5988,3276.0
103342,2020-04-06,FR,France,EURO,0,16,0,5988,0.0
103343,2020-04-07,FR,France,EURO,0,16,0,5988,0.0
103344,2020-04-08,FR,France,EURO,0,16,0,5988,0.0
103345,2020-04-09,FR,France,EURO,0,16,0,5988,0.0
103346,2020-04-10,FR,France,EURO,0,16,0,5988,0.0
103347,2020-04-11,FR,France,EURO,0,16,0,5988,0.0
103348,2020-04-12,FR,France,EURO,0,16,3344,9332,3344.0
103349,2020-04-13,FR,France,EURO,0,16,0,9332,0.0

In [55]:
X['Date_reported']-pd.Timedelta(days=1)

0       2020-09-01
1       2020-09-01
2       2020-09-01
3       2020-09-01
4       2020-09-01
           ...
20593   2021-09-08
20594   2021-09-08
20595   2021-09-08
20596   2021-09-08
20597   2021-09-08
Name: Date_reported, Length: 20598, dtype: datetime64[ns]

# continue

# Rewrite Vacances Scolaires code