In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('prix_essence_finaaal.csv')

# Display information about the DataFrame
df

       date;prix
0   2020-09;1.22
1   2020-10;1.21
2   2020-11;1.22
3   2020-12;1.27
4   2021-01;1.31
5   2021-02;1.36
6    2021-03;1.4
7   2021-04;1.39
8    2021-05;1.4
9   2021-06;1.43
10  2021-07;1.45
11  2021-08;1.45
12  2021-09;1.46
13  2021-10;1.56
14  2021-11;1.57
15  2021-12;1.54

In [4]:
new_df = df['date;prix'].str.split(';', expand=True)

# Rename the columns
new_df.columns = ['Date', 'Prix']

# Concatenate the new DataFrame with the original DataFrame
df_1 = pd.concat([df, new_df], axis=1)

# Drop the original 'Date;Prix' column if needed
df_2 = df_1.drop('date;prix', axis=1)

# Display the updated DataFrame
df_2

       Date  Prix
0   2020-09  1.22
1   2020-10  1.21
2   2020-11  1.22
3   2020-12  1.27
4   2021-01  1.31
5   2021-02  1.36
6   2021-03   1.4
7   2021-04  1.39
8   2021-05   1.4
9   2021-06  1.43
10  2021-07  1.45
11  2021-08  1.45
12  2021-09  1.46
13  2021-10  1.56
14  2021-11  1.57
15  2021-12  1.54